*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem === 10px; (10px/16px === 62.5%)  
    @media(max-width: 68.75rem) {
        font-size: 35%;
    }
}

body{
    line-height: 1.6;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    counter-reset: section;
    background-color: #0A192F;
    color: rgb(136, 146, 176);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $text-color;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: rgb(230, 241, 255);
}

.container{
   display: grid;
   grid-template-columns: 1fr 6fr 1fr;  

   @media(max-width: 68.75rem) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
}
}

.heading{    
    font-size: 3.2rem;
    margin: 1rem 0 4rem;
    &::before{
        counter-increment: section;
        content: "0" counter(section) ". ";   
        font-family: $font-family;
        font-weight: normal;
        color: $primary-blue;
        font-size: 2rem;      
    }
     &::after{
        content: "";
        display: inline-block;
        height: .1rem;
        width: 20rem;
        background-color: rgb(45, 57, 82);     
        margin: 0 1rem 1rem 2rem;             
    }
    @media(max-width: 68.75rem) {
        &::after {
            width: 9rem;
        } 
    }  
}



.link-github__icon{
    width: 2.5rem;
    height: 2.5rem;    
    fill: $text-color;
    margin: 2rem 0;     
    transition: all 0.2s ease-out;   
    &:hover{
        transform: translateY(-3px);
        fill: $primary-blue;
    }      
}

.featured-title{
    font-weight: normal;
    font-family: $font-family;
    color: $primary-blue;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-top: 0;
}
.featured-subtitle{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(204, 214, 246);
    margin: 0 0 2rem;
}
.project-links{
    margin-left: 2rem;    
}

.project-description{
    box-shadow: rgba(2, 12, 27, 0.7) 0 .1rem 3rem --1.5rem;             
    background-color: $background-box;
    color: $text-color;
    font-size: 1.6rem;
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: .3rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; 
    @media(max-width: 68.75rem){
        background-color: transparent;
        box-shadow: none;
        padding: 2rem 0;
    }            
}

.featured-teechList{
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 0 1rem;
    justify-content: flex-end;
    font-family: $font-family;
    font-size: 1.3rem;
    li{
        margin: 0 .5rem 0 2rem;
    }
}

.txt-type>.txt{
    border-right: 0.1rem solid #777;
}

//animation fadeInUp
.js--wp-1{   
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated{
    opacity: 1;
}

.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5{
    opacity: 0;
    animation-duration: 2s;
}

.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated
.js--wp-5.animated{
    opacity: 1;
}
