.email{
    display: flex;
    justify-content: center;   
    &-item{
        position: fixed;
        bottom: 0;     
        opacity: 0;
        animation: showItem 1s 1.2s ease-out forwards;      
        &::after {
            content: "";
            display: block;
            width: .1rem;
            height: 9rem;           
            background-color: rgb(168, 178, 209);
            margin: 3rem auto 0 auto;
            position: relative;
        }   
        &__link{
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl; 
            font-family: $font-family;
            color: $text-color;
            font-size: 1.2rem;
            letter-spacing: 0.5px;     
            transition: all 0.2s ease-out;   
            &:hover{
                transform: translateY(-3px);
                color: $primary-blue;
            }
        }    
        @media(max-width: 68.75rem) {
            display: none;
        }       
    }   
}

