.footer{   
    text-align: center;
    height: auto;
    min-height: 7rem;
    padding: 1.5rem;  
    background: #020C1B;
    .footer__social{
        display: none;
        .footer__list{
            display: flex;
            justify-content: center;
            .footer__item-icon{
                width: 3rem;
                height: 3rem;
                fill: $text-grey;
                margin: 1.5rem 2rem;
                &:hover{
                    fill: $primary-blue
                }
            }               
        }
        @media(max-width: 68.75rem) {
            display: block;
         }  
    }
   
    div{
        font-family: $font-family;
        font-size: 1.2rem;
        line-height: 1;
        margin: 1rem 0;
    }
}

