//colors
$primary-blue:rgb(100, 255, 218);
$text-color: rgb(204, 214, 246);
$background-box:rgb(23, 42, 69);
$text-grey:rgb(136, 146, 176);


//font 
$font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

